@import url("globals.css");
* {
  font-family: var(--ff-primary);
}

.wrapper {
  display: flex;
  min-height: 100vh;
  align-items: center;
  padding: 90px 200px;
  justify-content: center;
  background: var(--clr-accent);
}

.logo {
  height: 40px;
  width: 100%;
}

.form {
  gap: 10px;
  display: flex;
  text-align: center;
  padding: 20px 90px;
  background: white;
  flex-direction: column;
}

/* Forgot Password */
.form .forgot__pass {
  font-size: 14px;
  color: var(--clr-gray);
  text-align: end;
}
.form__title {
  color: var(--clr-neutral);
  font-size: 1em;
}

.form__field {
  border: none;
  padding: 15px;
  border-bottom: 1px solid var(--clr-primary);
}

.form__field::placeholder {
  font-size: 16px;
  color: var(--clr-gray);
}

.form form {
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.form button {
  background-color: var(--clr-primary);
  font-weight: bold;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.form__switch {
  color: var(--clr-neutral);
  font-size: 16px;
  margin-top: 10px;
}

.switch__link {
  color: var(--clr-primary);
  text-decoration: none;
}

/* Homepage */
.app {
  display: flex;
  font-weight: 500;
  min-height: 100vh;
  flex-direction: column;
  background-color: white;
}

/* Navbar */
.navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-accent);
}

.nav-links {
  gap: 10px;
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: var(--clr-light);
}

.drop__down {
  gap: 10px;
  padding: 20px;
  display: flex;
  color: var(--clr-light);
  background-color: var(--clr-accent);
}

/* Container */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-primary);
}

/* Image Slider */
.slider__img {
  padding: 30px;
  padding-right: 0px;
  object-fit: contain;
}

/* Footer */
.footer {
  color: white;
  margin-top: auto;
  background-color: var(--clr-primary);
}

.footer-sec-padding {
  padding: 60px;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-links .social {
  display: flex;
}

.footer-links-div img {
  height: 30px;
  width: 30px;
}

.footer-below {
  padding: 15px;
  background-color: var(--clr-footer-below);
}

.footer-below-padding {
  padding: 20px;
}

.footer-copyright {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
