@import url("globals.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
	font-family: var(--ff-primary);
}

.wrapper {
	min-height: 100vh;
	display: flex;
	padding: 90px 200px;
	background: var(--clr-accent);
}
.AuthSidebar {
	background: var(--clr-primary);
	padding: 60px;
	height: 100%;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.AuthSidebar img {
	height: 400px;
	width: 100%;
}
.form {
	width: 50%;
	gap: 10px;
	display: flex;
	text-align: center;
	padding: 20px 90px;
	background: white;
	flex-direction: column;
}
.form__title {
	color: var(--clr-neutral);
	font-size: 1em;
}

.form__logo {
	color: var(--clr-neutral);
	font-weight: bold;
	font-size: 24px;
}

.form__field {
	border: none;
	padding: 15px;
	border-bottom: 1px solid var(--clr-primary);
}

.form__field::placeholder {
	font-size: 16px;
	color: var(--clr-gray);
}

.form form {
	gap: 15px;
	display: flex;
	flex-direction: column;
}

.file__input {
	display: none;
}

.file__label {
	display: flex;
	align-items: center;
	font-size: 16px;
	gap: 10px;
	color: var(--clr-accent-light);
}

.file__label img {
	width: 32px;
}

.form button {
	background-color: var(--clr-primary);
	font-weight: bold;
	color: white;
	border: none;
	padding: 10px;
	cursor: pointer;
}
.form__switch {
	color: var(--clr-neutral);
	font-size: 16px;
	margin-top: 10px;
}

.switch__link {
	color: var(--clr-primary);
	text-decoration: none;
}

.home {
	background-color: white;
	min-height: 100vh;
}

/* .footer {
} */

.footer-links-div img {
	height: 30px;
	width: 30px;
}
