/* Colors & font-sizes */
:root {
  --clr-bg: #414a4c;

  --ff-primary: "Be Vietnam Pro", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 800;

  --fs-300: 0.875rem;
  --fs-500: 1rem;
  --fs-700: 1.875rem;
  --fs-900: 2.5rem;
}
@media (min-width: 50em) {
  :root {
    --fs-900: 3.5rem;
    --fs-700: 2.5rem;
  }
}

/* Utilities Classes */
.text-primary {
  color: var(--clr-primary);
}
.text-accent {
  color: var(--clr-accent);
}
.text-accent-light {
  color: var(--clr-accent-light);
}

.text-neutral {
  color: var(--clr-neutral);
}
.text-neutral-light {
  color: var(--clr-neutral-light);
}
